.content{
  box-shadow: 10px 5px 5px gold;
}

.descriptionBlock {
   margin: 10px;
  }

 .logo {
  width: 50%;
  }
 .mainPhoto {
   max-width: 200px;
   border: 2px solid black;
 }

 .contact{
     padding-left: 10px;
 }

